[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "TestPyPI"
url = "https://test.pypi.org/simple/"
verify_ssl = false

[packages]
actfw-raspberrypi = {version = "*", index = "TestPyPI"}  # TODO move this to setup.py
actfw-core = {version = "*", index = "TestPyPI"}  # TODO move this to setup.py

[dev-packages]
actfw = {editable = true, path = "."}
# Tests
nose2 = "*"
# Packaging Python Projects
setuptools = "*"
twine = "*"
wheel = "*"
# Document
sphinx = "*"
sphinx-theme = "*"

[pipenv]
allow_prereleases = true  # TODO remove
